body {
  font-family: "OpenSans";
  font-size: 18px;
  background-color: #fff; }

.left-navbar {
  float: left;
  width: 25%;
  height: 100vh;
  background-color: #2B2F3E; }

.left-navbar-title {
  width: 100%;
  padding: 30px; }

.left-navbar-title span {
  font-size: 36px;
  color: #565A69;
  font-family: "OpenSans-Light"; }

.left-navbar-body {
  padding: 30px 0; }

.navbar-body-list {
  list-style: none;
  padding: 0; }

.navbar-body-list li {
  padding: 25px;
  background-color: #FF3654;
  color: #fff;
  font-size: 18px; }

.navbar-body-list li:hover {
  cursor: pointer;
  opacity: .7; }

.page-body {
  width: 75%;
  height: 100vh;
  float: right;
  background-color: #F9F9F9; }

.news-block {
  width: -webkit-calc(50% - 60px);
  width: calc(50% - 60px);
  margin: 30px 20px 30px 30px;
  float: left;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 44px -13px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 44px -13px rgba(0, 0, 0, 0.75);
  padding: 15px 15px 15px 25px;
  min-height: 450px; }

.news-title-item {
  margin-bottom: 25px; }

.news-title-item span {
  font-family: "OpenSans-Light";
  font-size: 36px;
  color: #565A69; }

.news-input-block {
  width: 100%; }

.news-input {
  width: 65%;
  padding: 10px;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px; }

.news-input:focus {
  border-color: #27CCC0;
  outline: none; }

.add-new-btn {
  float: right;
  width: 25%;
  background-color: #27CCC0;
  border: none;
  padding: 9px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  font-family: "OpenSans-Semibold";
  font-size: 16px; }

.add-new-btn:hover {
  cursor: pointer;
  opacity: .7; }

.add-new-btn:focus {
  outline: none; }

.news-block-body {
  margin-top: 10px;
  width: 100%; }

.news-list {
  list-style: none;
  padding: 0; }

.news-list li {
  padding: 20px 0 10px;
  border-top: 1px solid #F2F2F2; }

.news-list li:first-child {
  border-top: none; }

.news-list li:last-child {
  border-bottom: 1px solid #F2F2F2; }

.news-list li .news-title {
  font-size: 16px;
  max-width: 70%;
  display: block;
  float: left;
  word-break: break-all; }

.news-list li .news-title span {
  display: inline-block;
  font-size: 13px;
  padding: 5px 10px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #27CCC0;
  margin-left: 10px; }

.news-list li .delete-new-btn {
  float: right;
  width: 25%;
  background-color: #fff;
  border: 1px solid #FF3654;
  padding: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #FF3654;
  font-family: "OpenSans-Semibold";
  font-size: 16px;
  margin-top: -10px; }

.news-list li .delete-new-btn:hover {
  cursor: pointer;
  opacity: .7; }

.news-list li .delete-new-btn:focus {
  outline: none; }

.comment-block {
  width: 40%;
  margin: 30px 0;
  float: right;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 44px -13px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -1px 44px -13px rgba(0, 0, 0, 0.75);
  padding: 15px 15px 15px 25px;
  height: 80vh;
  min-height: 450px; }

.comment-title-item {
  font-family: "OpenSans-Light";
  font-size: 36px;
  color: #565A69;
  margin-bottom: 25px; }

.comment-list-body .comment-list {
  list-style: none;
  padding: 0; }

.comment-list-body .comment-list li {
  padding: 15px 0 20px;
  border-top: 1px solid #f2f2f2;
  font-size: 12px; }

.comment-list-body .comment-list li:first-child {
  border-top: none; }

.comment-list-body .comment-list li .user-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #FF8A00;
  vertical-align: top; }

.comment-list-body .comment-list li:nth-child(2n) .user-icon {
  background-color: #47568C; }

.comment-list-body .comment-list li .commet-item {
  display: inline-block;
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  margin-left: 20px; }

.add-commnet-input-block {
  width: 100%;
  height: 150px; }
  .add-commnet-input-block .user-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #E6E6E6;
    vertical-align: top; }
  .add-commnet-input-block .add-commnet-input {
    width: -webkit-calc(100% - 76px);
    width: calc(100% - 76px);
    margin-left: 20px;
    height: 150px;
    display: inline-block;
    float: right;
    resize: none; }
  .add-commnet-input-block .add-commnet-input:focus {
    outline: none;
    border: 1px solid #47568C; }
