<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="logo-block">
                        <div class="logo"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="templates-block"></div>
                </div>
                <div class="col-xs-3">
                    <div class="right-nav-btn-block"></div>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-xs-3" id="leftMenuPanel">
                <div class="gallery-block">
                    <div class="gallery-header">
                        <span>IMAGES</span>
                        <span><i class="glyphicon glyphicon-random"></i>SHUFFLE</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gallery-search-input">
                        <input type="text" class="search-input" placeholder="Search 600k+ images">
                        <span><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                    <ul class="gallery">
                        <li class="gallery-item" ng-repeat="item in $ctrl.img track by $index" ng-click="$ctrl.drawImage($index)" ng-class="{'gallery-item-active': $ctrl.index == $index}">
                            <img ng-src="{{item.src}}" alt="">
                        </li>
                    </ul>
                    <button class="upload-button" type="button">Upload Image</button>
                </div>
            </div>
            <div class="col-xs-6" id="bodyCanvasService">
                <div class="canvas-block">
                    <div class="canvas-inner-block">
                        <div class="canvas-header">
                            <span>CANVAS</span>
                            <span ng-click="$ctrl.openEditWindow()"><i class="glyphicon glyphicon-move"></i> REPOSITION</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="canvas-image">
                            <div class="canvas-container">
                                <canvas id="fabricCanvas" width="484" height="242" class="canvas-style upperCanvas"></canvas>
                                <canvas id="secondFabricCanvas" width="484" height="242" class="canvas-style lowerCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3" id="rightMenuPanel">
                <div class="right-tools-panel">
                    <div class="tools-panel">
                        <div class="canvas-size-select">
                            <div class="size-select-header">
                                <span class="size-title">SIZES</span>
                            </div>
                            <span class="pinterest-size size-item" ng-click="$ctrl.resizeCanvas('lg')" ng-class="{'size-item-active': $ctrl.canvasSize == 'lg'}"></span>
                            <span class="instagram-size size-item" ng-click="$ctrl.resizeCanvas('md')" ng-class="{'size-item-active': $ctrl.canvasSize == 'md'}"></span>
                            <span class="facebook-size size-item" ng-click="$ctrl.resizeCanvas('sm')" ng-class="{'size-item-active': $ctrl.canvasSize == 'sm'}"></span>
                        </div>
                        <div class="filters-tool">
                            <div class="filters-title">
                                <span>FILTERS</span>
                                <span><i class="glyphicon glyphicon-repeat"></i>RESET</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="filters-select">
                                <div class="filter-item">
                                    <div class="image-filter"></div>
                                    <span>Light contrast</span>
                                    <span><i class="glyphicon glyphicon-chevron-down"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="select-text-block">
                            <div class="select-text-title">
                                <span>TEXT</span>
                            </div>
                            <div class="select-text-out-block">
                                <div class="select-text-inner-block">
                                    <div class="select-text text-title select-text-active"></div>
                                    <span>Header</span>
                                </div>
                                <div class="select-text-inner-block">
                                    <div class="select-text text-body"></div>
                                    <span>Body</span>
                                </div>
                                <div class="select-text-inner-block">
                                    <div class="select-text text-bottom"></div>
                                    <span>Caption</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="quotes-block">
                                <span>Add Quotes</span>
                                <span><i class="glyphicon glyphicon-chevron-right"></i></span>
                                <span><i class="glyphicon glyphicon-chevron-left"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <button class="download-btn-style">Download</button>
                </div>
            </div>
        </div>
    </div>
</section>
